<p>Sign up!</p>

<form class="new-user" action="/users" method="post">
  <input type="text" name="user[name]" value="name">
  <input type="text" name="user[email]" value="email">
  <input type="submit" value="Submit">
</form>
